
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
body {
 background-image: url(https://asset.gecdesigns.com/img/wallpapers/beautiful-fantasy-wallpaper-ultra-hd-wallpaper-4k-sr10012418-1706506236698-cover.webp);
color: rgb(245, 242, 242);
 background-size: cover;
    text-align: center;
    font-family: "Quicksand", sans-serif;;
}
h1 { font-size:36pt; }
h3 { font-size:18pt; }

    

.fundo {    
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.caixa {
    margin: 20px 200px;
    display: flex;
}



.principal {
    padding: 30px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagemprincipal {
    height: 390px;
    width: 500px;
    border: 3px solid white; 
    border-radius: 8px;
}

.outras {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
}

.imagembox {
    margin: 0px 8px 8px 0px ;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem {
    height: 100px;
    width: 100px;
    border: 3px solid white; 
    border-radius: 8px;
}

.detalhes {
    width: 50%;
    padding-left: 50px;

}

.enzo {
    width: 100%;
    justify-content: space-between;
};

td .enzo {
    height: 30px;
};

button:hover {
    background-color: darkgreen;
}

.imagem:hover {
    transform: scale(1.05);
}

.pedro {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
}
fieldset {
    border: none;
}
legend {
    font-size: 1.5em;
    margin-bottom: 10px;
}
.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
label {
    margin-bottom: 5px;
    font-weight: bold;
}
input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    width: 100%;
}
input[type="date"] {
    width: 100%;
}
.campo input[type="text"], .campo input[type="date"] {
    max-width: 400px;
}
.campo select {
    max-width: 200px;
}
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

.col {
    padding: 10px;
    text-align: center;
    margin: 10px;
    width: 200px;
    transition: transform 0.2s; 
}

.col:hover {
    transform: scale(1.05); 
}

